# Node
node_modules/
npm-debug.log*

# dotenv
.env
.env.local

# Editor
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Build
dist/
build/
coverage/

# Logs
logs/
*.log

# Next.js
frontend/.next/
frontend/out/

# React/Vite
frontend/.vite/
frontend/build/

# Turbo/Monorepo Tools
frontend/.turbo/
